body {
  font-family: "Roboto", sans-serif;
}
header {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-size: 16px;
}
.navi {
  color: #2e2f42;
}

.link {
  color: #434455;
}
.effective {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  background-color: #2e2f42;
  text-align: center;
}
.btn {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
}
h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  color: #434455;
  text-align: center;
}
.motto {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}
.horizontal {
  list-style-type: none;
}
.horizontal li {
  display: inline-block;
}
.team {
  background-color: #f4f4fd;
  color: 2e2f42;
}
.portfolio {
  color: #2e2f42;
}
.Web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.studio1 {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.studio2 {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.footer {
  background-color: #2e2f42;
}
.pfooter {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
